*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}
#page-container{
    max-width:1920px;
}
#menu-wrapper{
    display: inline-flex;
    flex-wrap: wrap;
    background-color: white;
    justify-content: center;
}
iframe{
    background-color: red;    
    width:405px;
}
#menu1, #menu2{
    height:942px;
}
#menu3{
    height:699px;
}
.hide{
    width:3px;
    background: white;
    position: absolute;
}
#hide1, #hide2{
    height:942px;
}
#hide3{
    height:699px;
}
.hide-wrapper{
    position: relative;
}
#pic-wrapper{
    display: flex;
}
#menu-pic{
    background-image: url(bg.png);
    background-position: center;
    background-size: cover;
    width: 404px;
    height:100%;
}
@media (max-width:824px){
    #menu-pic{
        display:none;
    }
}
@media (max-width:480px){
    #menu-pic{
        display:none;
    }
    #menu-wrapper{
        max-width: 100vw;
        justify-content: left;
        overflow: hidden;
    }
}