*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
iframe{
    position: relative;
    background: #f7f6f4;
}
.hide{
    display: inline-block;
    background: white;
    width: 2px;
    height:990px;
    position:relative;
    left: 5px;
    z-index: 10;
}
#menus{
    margin-top: 25px;
    text-align: center;
    
}