/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
img{
    max-width:100vw;
}
#wrapper{
    max-width:1920px;
    width:100vw;
}
iframe{
    position: relative;
    background-color: orange;
}
.hide{
    display: inline-block;
    background: white;
    width: 15px;
    height:990px;
    position:relative;
    left: 8px;
    z-index: 10;
}

#menus{
    margin-top: 15px;
    text-align: center;
}
#pic1{
    display: none;
    width:475px;
    height:690px;
    
}
#center-menu, #right-menu{
    display: inline-block;
}
#pic4{
    position: relative;
    bottom:50px;
    z-index: 10;
    margin-bottom: -55px;;
}

@media (max-width:1432px){
    #pic1{
        display: inline-block;
        position: relative;
        bottom: 350px;
        z-index: 11;
    }
    #right-menu{
        position: relative;
        bottom: 60px;
    }
    #pic4{
        position: relative;
       
        z-index: 10;
        
    }
    #menus{
        overflow:hidden;
        position: relative;
        height:1700px;
    }
}

@media (max-width:953px){
    #pic1{
        display: none;
    }
    #pic4{
        position: relative;
        bottom: 410px;
        z-index: 10;
        margin-bottom: -415px;
    }
    #center-menu{
        position: relative;
        bottom: 60px;
    }
    #right-menu{
        position: relative;
        bottom: 120px;
    }
    #menus{
        height: 2670px;;
    }
    #wrapper{
        min-width:500px;
       
    }
}

@media (max-width:400px){
    #center-menu{
        margin-top:17px;
    }
    #right-menu{
        margin-top:16px;
    }
    .hide{
        display: none;
    }
  
}